{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- bootstrap libs -->
    {% block bootstrap %}
    {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->
    <link href="{% static 'css/add_nepenthes.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- carousel slider -->


</head>
<body>
<!-- Navbar -->
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->


<!-- form+css taken form: https://bbbootstrap.com/snippets/bootstrap-5-user-registration-form-82669371-->
<div class="wrapper">
    <!--<div class="form-left"></div>  -->


    <form action="" method="post" class="form-right" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-uppercase">Add a new Nepenthes to your Account</h2>

        {% if message %}

        <div class="row" style="text-align: center;">
            <span style="border:2px solid {{ color }};"> {{ message|safe }}</span>
        </div>

        {% endif %}


        <div class="form-group">
            <label for="id_name">Name</label>
            <input name="name" id="id_name" class="form-control" type="text" placeholder="">
        </div>
        <div class="form-group">
    <label for="id_description">Description</label>
    <textarea class="form-control" id="id_description" rows="3"></textarea>
        </div>
        <div class="form-group mt-4">
            <label for="flower">Flower Status</label>
            <select name="flower" class="form-control" id="flower">
                <option value="0">Currently not Flowering</option>
                <option value="1">developing a flower</option>
                <option value="2">blooming</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="0">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="1">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="radio" name="sex" id="inlineRadio3" value="2">
                <label class="form-check-label" for="inlineRadio3">Unkown</label>
            </div>
        </div>
        <div class="form-group mt-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shipping" id="inlineRadio5" value="0">
                <label class="form-check-label" for="inlineRadio5">USA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shipping" id="inlineRadio6" value="1">
                <label class="form-check-label" for="inlineRadio6">EU</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="radio" name="shipping" id="inlineRadio4" value="2">
                <label class="form-check-label" for="inlineRadio4">International</label>
            </div>

        </div>
        <div class="form-group mt-2">
            <div class="mb-3">
                <label for="file" class="form-label">Your Best Pitcher Image (max 500kb)</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/png,image/jpeg"/>

            </div>
        </div>
        <div class="form-field"><input type="submit" value="Register" class="register" name="register"></div>
    </form>
</div>


</body>
</html>
