{% load static %}

<!doctype html>
<html>
<head>
    <title>Stats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap libs -->
    {% block bootstrap %}
        {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/nepenthes_edit.css' %}" rel="stylesheet" type="text/css" media="all">

</head>

<body>
<!-- Navbar -->
{% block navbar %}
    {% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

<div class="container">
    <div class="row">
        <h2 class="col">Most Requested</h2>
        <h2 class="col">Most Offered</h2>
        <div class="w-100"></div>

        {% for most_wanted, most_offered in top_of %}
            <div class="col"> Nepenthes {{ most_wanted.name }}

                <br>
                <img src="/media/{{ most_wanted.image }}" class="img-thumbnail" width="300"><br>
                <b>Requested: {{ most_wanted.total }} </b>

            </div>
            <div class="col"> Nepenthes {{ most_offered.name }}


            <br>
            <img src="/media/{{ most_offered.image }}" class="img-thumbnail" width="300">
            <br>
            <b>Offered: {{ most_offered.total }} </b>

            <div class="w-100"></div>
                        <br>

        {% endfor %}
        </div>
    </div>




<table class="table">
    <tr>
      <td >Total Amount of User</td>
      <td >{{ total_users }}</td>
    </tr>

    <tr>
      <td >Total Amount of Male Nepenthes</td>
      <td >{{ nepenthes.0 }}</td>
    </tr>

    <tr>
      <td >Total Amount of Female Nepenthes</td>
      <td >{{ nepenthes.1 }}</td>
    </tr>


    <tr>
      <td >Nepenthes flowering right now</td>
      <td >{{ flower.0 }}</td>
    </tr>

    <tr>
      <td >Nepenthes developing a Flower right now</td>
      <td >{{ flower.1 }}</td>
    </tr>

  {% for transaction in transactions %}
    <tr>
        <td>Total Amount of Requests in {{ transaction.year_month }}</td>
        <td>{{ transaction.total_transactions }}</td>
    </tr>
          {% endfor %}
</table>
</div>







</body>
</html>