{% load static %}

<!doctype html>
<html>
<head>
    <title>Stats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap libs -->
    {% block bootstrap %}
        {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/nepenthes_edit.css' %}" rel="stylesheet" type="text/css" media="all">

</head>

<body>
<!-- Navbar -->
{% block navbar %}
    {% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->



{% for plant in most_requested %}
    <p>
        {{ plant.name }} + {{ plant.total }} +  {{ plant.image }}
    </p>
{% endfor %}


{% for plant in most_offered %}
    <p>
        {{ plant.name }} + {{ plant.total }} + {{ plant.image }}
    </p>
{% endfor %}




</body>
</html>