{% load static %}

<!doctype html>
<html>
<head>
    <title>Nepenthes Mate Finder</title>
    <meta charset="UTF-8">

    <!-- bootstrap libs -->
    {% block bootstrap %}
    {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/nepenthes_overview.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- carousel slider -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css" media="all"/>

</head>
<body>
<a name="top"></a>

<input type="hidden" id="csrf" value={{ csrf_token }}/>

<!-- Navbar -->
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

</div>
<!-- Sidebar filter section -->
<section id="sidebar">
    <div class="border-bottom pb-2 ml-2">
        <h4 id="burgundy">Filters</h4>
    </div>
    <form>
        <div class="form-group"><input type="checkbox" id="species"> <label for="species">Species</label></div>
        <div class="form-group"><input type="checkbox" id="hybrid"> <label for="hybrid">Hybrids</label></div>
        <div class="form-group"><input type="checkbox" id="male"> <label for="male">Male</label></div>
        <div class="form-group"><input type="checkbox" id="female"> <label for="female">Female</label></div>
        <div class="form-group"><input type="checkbox" id="blooming"> <label for="blooming">blooming</label></div>
        <div class="form-group"><input type="checkbox" id="soon_blooming"> <label for="soon_blooming">soon
            blooming</label>
            <div class="form-group"><input type="checkbox" id="usa"> <label for="usa">USA</label></div>
            <div class="form-group"><input type="checkbox" id="eu"> <label for="eu">EU</label>
            </div>
        </div>
    </form>
    </div>
</section>

<div id="mobile-filter">
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Filters</h6>
        <div id="orange"><span class="fa fa-minus"></span></div>
</div>
<div style="color:white;">
            <div class="form-group"><input type="checkbox" id="m_species"> <label for="m_species">Species</label></div>
        <div class="form-group"><input type="checkbox" id="m_hybrid"> <label for="m_hybrid">Hybrids</label></div>
        <div class="form-group"><input type="checkbox" id="m_male"> <label for="m_male">Male</label></div>
        <div class="form-group"><input type="checkbox" id="m_female"> <label for="m_female">Female</label></div>
        <div class="form-group"><input type="checkbox" id="m_blooming"> <label for="m_blooming">blooming</label></div>
        <div class="form-group"><input type="checkbox" id="m_soon_blooming"> <label for="m_soon_blooming">soon
            blooming</label>
            <div class="form-group"><input type="checkbox" id="m_usa"> <label for="m_usa">USA</label></div>
            <div class="form-group"><input type="checkbox" id="m_eu"> <label for="m_eu">EU</label>
            </div>
        </div>
</div>

</div>
</div>


<!-- products section -->
<section id="nepenthes_search">
    <div class="d-flex">
        <div class="input-group rounded" style="margin-bottom: 10px;">

            <input id="search" type="search" class="form-control rounded custom_element" placeholder="Search"
                   aria-label="Search"
                   aria-describedby="search-addon"/>

            <button v-on:click.prevent="getSearchResults">
                    <span class="fa fa-search text-muted custom_element input-group-text border-0"
                    ></span></span>
            </button>

        </div>
    </div>
    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-6" v-for="nep in nepenthes">
                <div class="card h-100">
                    <div class="ratio ratio-1x1">
                        <img :src="nep.image" class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-header d-flex align-items-center justify-content-center">
                        <h4 class="my-0 font-weight-normal">{[nep.name]}</h4>
                    </div>

                    <div class="card-body flex-column h-100">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Author: {[nep.username["username"]]}
                            </li>
                            <li class="list-group-item">Sex:
                                <template v-if="nep.sex == 0 ">Male</template>
                                <template v-else-if="nep.sex == 1 ">Female</template>
                                <template v-else="nep.sex == 2 ">Unkown</template>
                            </li>
                            <li class="list-group-item">Flower:
                                <template v-if="nep.flower == 0 ">No Flower</template>
                                <template v-else-if="nep.flower == 1 ">Developing</template>
                                <template v-else="nep.flower == 2 "> Blooming</template>

                            </li>
                        </ul>


                        <div class="input-group">
                            <select class="form-control custom_element" :id="'dropdown_'+nep.id">
                                <option>Select Plant</option>
                                {% for neps in user_nepenthes %}
                                <option value="{{ neps.id }}"
                                        v-if="nep.sex != {{ neps.sex }} ">{{ neps.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn custom_element">
    <button  v-on:click.prevent="sendOffer(nep.id,nep.username['username'])" class="btn btn-default drop_button" type="button" tabindex="-1"><span class="glyphicon glyphicon-remove"
                                                                                  aria-hidden="true"></span>Send</button>
  </span>
                        </div>
                    </div>


                </div>


        </div>
            <div class="d-flex justify-content-center pt-5 paging"  >
                <nav aria-label="Page" >
                    <ul class="pagination ">
                        <li v-if="current_page != 1  " class="page-item"><a class="page-link" href="top"  v-on:click.prevent="decrementPage">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="top"  v-on:click.prevent="gotoPage(1)">1</a></li>
                        <li class="page-item"><a class="page-link" >...</a></li>
                        <li class="page-item"><a class="page-link" href="top"  v-on:click.prevent="gotoPage(pages)">{[pages]}</a></li>
                        <li v-if="pages > current_page " class="page-item"><a class="page-link" href="top"  v-on:click.prevent="incrementPage">Next</a></li>
                        <li class="page-item"><button v-on:click.prevent="gotoPage()" class="page-link" >Go</button></li>
                        <li class="page-item"><input style="width: 100px;" type="number" id="gotoPage" class="page-link"></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>


<script src="{% static 'nepenthes_overview.js' %}"></script>

</body>