{% load static %}

<!doctype html>
<html>
<head>
    <title>My Transaction Offers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap libs -->
    {% block bootstrap %}
    {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/transaction_offers.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- carousel slider -->


</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>

<input type="hidden" id="csrftoken" value={{ csrf_token }}/>

<!-- Navbar -->
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Your Plant</th>
                    <th scope="col">Offered Plant</th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for nepenthes in data %}
                <tr>

                <th scope="row"> <a href="transaction_overview/{{ nepenthes.author_plant_id }}/{{ nepenthes.user_plant_id }}">{{ nepenthes.AUTHOR_PLANT_NAME }}</a></th>
                <th scope="row"> <a href="transaction_overview/{{ nepenthes.author_plant_id }}/{{ nepenthes.user_plant_id }}">{{ nepenthes.USER_PLANT_NAME }}</a></th>

                    <td>
                        <span id="user-{{nepenthes.id}}">
                        {{ nepenthes.username }}
                        {% if nepenthes.accepted %}
                            <br>
                            TODO insert email
                    {% endif %}


                    </td>
                        </span>
                    <td> <span id="{{nepenthes.id}}">
                    {% if nepenthes.accepted %}
                    Accepted
                    {% elif nepenthes.accepted == False %}
                    Denied
                    {% else %}
                    Pending
                    {% endif %}
                    </span></td>

                    <td style="width: 50px" class="align-middle">
                        <div class="btn-group btn-{{nepenthes.id}}">
                            {% if nepenthes.accepted == NULL %}
                            <button type="button" class="btn btn-success"
                                    onclick="updateTransaction('{{nepenthes.id}}',true);">Accept
                            </button>
                            <button type="button" class="btn btn-danger"
                                    onclick="updateTransaction('{{nepenthes.id}}',false);">Deny
                            </button>
                            {% else %}
                                    <!-- Wrong functiuon TODO -->
                            <button type="button" class="btn btn-primary"
                                    onclick="updateTransaction('{{nepenthes.id}}',true);">Archive
                            </button>
                            {% endif %}

                        </div>
                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    //not a good solution, should be implemented in vue one day

    function changeStatus(id, accepted) {

        element = document.getElementById("" + id);
        if (element.innerText != "Pending") {
            return;
        }
        if (accepted) {
            element.innerText = "Accepted";
        } else {
            element.innerText = "Denied";
        }
    }


    function changeButton(id, class_name) {

        let btn = document.createElement("button");
        btn.innerHTML = "Archive"
        btn.type = "button"
        btn.className = "btn btn-primary"

        const element = document.querySelector(class_name+id);
        element.replaceWith(btn);

    }

    function AddContactInformation(id, id_name,mail){
        element = document.getElementById(id_name + id);
        element.innerText += "\n"+mail;

    }



    function updateTransaction(transactionId, isAccepted) {
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.withCredentials = true;


        //https://www.section.io/engineering-education/ajax-request-in-django-using-axios/
        // I dont like this solution
        let data = new FormData();
        data.append("transactionId", transactionId);
        data.append("accepted", isAccepted);


        axios.put("/api/transaction", data)
            .then(res => {
                    if (res.status == 201) {
                        changeStatus(transactionId, isAccepted);
                        changeButton(transactionId, ".btn-");
                        if(isAccepted){
                            AddContactInformation(transactionId,"user-",res.data["mail"]);
                        }
                    } else {
                        alert("something went wrong");
                    }
                }
            ) // 5
            .catch(errors => console.log(errors)) // 6


        return;
    }


</script>


</body>
</html>