{% load static %}

<!doctype html>
<html>
<head>
    <title>My Transaction Offers</title>
    <meta charset="UTF-8">

    <!-- bootstrap libs -->
    {% block bootstrap %}
    {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/transaction_offers.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- carousel slider -->


</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>

<input type="hidden" id="csrftoken" value={{ csrf_token }}/>

<!-- Navbar -->
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Your Plant</th>
                    <th scope="col">Requested Plant</th>
                    <th scope="col">Further Information</th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for nepenthes in data %}
                <tr>
                    <th scope="row">{{ nepenthes.USER_PLANT_NAME }}</th>

                    <th scope="row">{{ nepenthes.AUTHOR_PLANT_NAME }}</th>
                    <td class="w-25">
                        <a href="transaction_overview/{{ nepenthes.author_plant_id }}/{{ nepenthes.user_plant_id }}">Click
                            me!</a>                    </td>
                    <td>{{ nepenthes.username }}
                        {% if nepenthes.accepted %}
                        <br>
                        <a href=
                                   "mailto:{{nepenthes.email}}?subject=Trade Offer
                      &body=Greetings,
                      %0D%0A%0D%0A
                      I am writing to your because of my offer:
                      %0D%0A%0D%0A
                      My {{nepenthes.USER_PLANT_NAME}} with your {{nepenthes.AUTHOR_PLANT_NAME}}
                    ">Send Email</a>
                        {% endif %}

                    </td>

                    <td>
                        {% if nepenthes.accepted %}
                        Accepted
                        {% elif nepenthes.accepted == False %}
                        Denied
                        {% else %}
                        Pending
                        {% endif %}
                    </td>


                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>