{% load static %}

<!doctype html>
<html>
<head>
    <title>My Transaction Offers</title>
    <meta charset="UTF-8">

    <!-- bootstrap libs -->
    {% block bootstrap %}
    {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/transaction_offers.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- carousel slider -->


</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>

<input type="hidden" id="csrftoken" value={{ csrf_token }}/>

<!-- Navbar -->
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Your Plant</th>
                    <th scope="col">Requested Plant</th>
                    <th scope="col">Image</th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for nepenthes in data %}
                <tr>
                    <th scope="row">{{ nepenthes.USER_PLANT_NAME }}</th>

                    <th scope="row">{{ nepenthes.AUTHOR_PLANT_NAME }}</th>
                    <td class="w-25">
                        <img src="/media/{{ nepenthes.image }}" class="img-fluid img-thumbnail">
                    </td>
                    <td>{{ nepenthes.username }}
                        {% if nepenthes.accepted %}
                        <br>
                        <a href=
                                   "mailto:{{nepenthes.email}}?subject=Trade Offer
                      &body=Greetings,
                      %0D%0A%0D%0A
                      I am writing to your because of my offer:
                      %0D%0A%0D%0A
                      My {{nepenthes.USER_PLANT_NAME}} with your {{nepenthes.AUTHOR_PLANT_NAME}}
                    ">Send Email</a>
                        {% endif %}

                    </td>

                    <td>
                        {% if nepenthes.accepted %}
                        Accepted
                        {% elif nepenthes.accepted == False %}
                        Denied
                        {% else %}
                        Pending
                        {% endif %}
                    </td>


                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    //not a good solution, should be implemented in vue one day

    function changeStatus(id, accepted) {

        element = document.getElementById("" + id);
        if (element.innerText != "Pending") {
            return;
        }
        if (accepted) {
            element.innerText = "Accepted";
        } else {
            element.innerText = "Denied";
        }
    }


    function updateTransaction(transactionId, isAccepted) {
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.withCredentials = true;


        //https://www.section.io/engineering-education/ajax-request-in-django-using-axios/
        // I dont like this solution
        let data = new FormData();
        data.append("transactionId", transactionId);
        data.append("accepted", isAccepted);


        axios.put("/api/transaction", data)
            .then(res => {
                    if (res.status == 201) {
                        changeStatus(transactionId, isAccepted);
                        console.log("nice")
                    } else {
                        alert("something went wrong");
                    }
                }
            ) // 5
            .catch(errors => console.log(errors)) // 6


        return;
    }


</script>


</body>
</html>