.embed-responsive .card-img-top {
    object-fit: cover;
}

.card-header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box
}

#burgundy {
    color: rgb(153, 40, 59)
}

#orange,
select,
.btn {
    color: orange;
}

.form-group {
    margin-bottom: 5px
}

label {
    padding-left: 10px
}


h6 {
    margin-bottom: 0px
}

.btn {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #fff
}

.btn:hover {
    color: #fff;
    background-color: orange
}

#mobile-filter{
    display: none;
}
    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }


@media (min-width: 100px) and (max-width: 991px) {


    #mobile-filter{
        display:block ;
    }

    #sidebar {
        display: none
    }

}