.embed-responsive .card-img-top {
    object-fit: cover;
}

.card-header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

h4 {
    flex: 1;
}

}
* {
    box-sizing: border-box
}

.div-inline {

    display: inline-block;
}

#search {
    outline: none;
    border: none;
    display: inline-block
}

#burgundy {
    color: rgb(153, 40, 59)
}

#orange,
select,
.btn {
    color: orange
}

.fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
}

.search-nav-item {
    height: 40px
}

.div-inline {

    display: inline-block;
}

nav {
    padding: 0px 100px
}

.form-group {
    margin-bottom: 5px
}

label {
    padding-left: 10px
}

.form-group:last-child {
    margin-bottom: 0
}

h6 {
    margin-bottom: 0px
}

#sort {
    outline: none;
    border: none
}

.btn {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #fff
}

.btn:hover {
    color: #fff;
    background-color: orange
}


@media (min-width: 1200px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 400px;
        width: 350px
    }


    .text {
        display: none
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    .paging {
        padding-left: 50%;
        font-size: xx-large;
        padding-top: 50px;
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-color: red;
    }

    .paging {
        padding-left: 40%;
        font-size: xx-large;
        padding-top: 50px;
    }

    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }


    .text {
        display: none
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    body {
        background: linear-gradient(to bottom, #000428, #004683);
    }


    .paging {
        padding-left: 20%;
        font-size: xx-large;
        padding-top: 50px;
    }

    #burgundy {
        font-size: xx-large;
    }

    #search {
        width: 20rem;
        padding: 5px;
        padding-left: 1rem;
        font-size: xx-large;

    }

    .text {
        display: none
    }

    .col-md-10 {
        width: 40rem;
        margin-bottom: 10px;
    }

    .list-group {
        font-size: xx-large;
    }

    .card-header {
        font-size: xx-large;
    }

    .custom_element {
        font-size: xx-large;
    }

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    body {
        background-color: blue;
    }

    .paging {
        padding-left: 7%;
        font-size: xx-large
    }

    #search {
        width: 240px;
        padding: 5px;
        padding-left: 20px
    }

    .fa-search {
        padding: 3px;
        font-size: 18px
    }


    .col-ms-10 {
        width: 40rem;
        margin-bottom: 10px;
    }

    .custom_element {
        font-size: x-large;
    }

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }
}

@media (max-width: 575px) {
    body {

        background: black;

    }

    .search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px
    }

    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px
    }

    .fa-search {
        padding: 10px;
        font-size: 18px
    }

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }

    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }

}
