{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- bootstrap libs -->
    {% block bootstrap %}
        {% include "bootstrap.html" %}
    {% endblock %}
    <!-- bootstrap libs end -->

    <link href="{% static 'css/login_register.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"
          type="text/css" media="all"/>


</head>
<body>
<!-- Navbar -->
{% block navbar %}
    {% include "nav.html" %}
{% endblock %}
<!-- Navbar End -->

<!--https://bbbootstrap.com/snippets/bootstrap-5-registration-form-dazzling-effect-using-glassmorphism-90526434 -->
<div class="wrapper">
    <form method="post">
        {% csrf_token %}

        <div class="h5 font-weight-bold text-center mb-3">Login</div>

        {% if message %}

            <div style="color: {{ color }}" class="text-center mb-3">{{ message|safe }}</div>

        {% endif %}


        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="far fa-envelope"></span></div>
            <input id="id_email" name="email" autocomplete="off" type="email" class="form-control" placeholder="Email"
                   required>
        </div>
        <div class="form-group d-flex align-items-center" style="margin-bottom: 0px;">
            <div class="icon"><span class="fas fa-key"></span></div>
            <input id="id_password" name="password" autocomplete="off" type="password" class="form-control"
                   placeholder="Password" required>
            <div class="icon btn"><span onclick="showPassword()" class="fas fa-eye-slash"></span></div>
        </div>
            <div class="float-right">
        <a  href="/accounts/password_reset/"><span style="float: right;font-size: small" >Forgot Password?</span></a>
            </div>
            <div class="pt-4">
        <input class="btn btn-primary mb-3" type="submit" value="Login"/>
            </div>
    </form>
</div>

<script>
    // sure DRY but I don´t think it´s worth to create an extra file for it
    //https://www.w3schools.com/howto/howto_js_toggle_password.asp
    function showPassword() {
        var x = document.getElementById("id_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>